@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">

            User..........<input type="text" id="userInput" />
            <br />
            Designation..........<input type="text" id="designation" />
            <br />
            Query..........<input type="text" id="query" />
            <br />
            <input type="button" id="configButton" value="Set Config" />

            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <div id="err"></div>
</div>
<script src="~/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
